.card {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background-color: #000000;
    position: relative;
    border-radius: 8px;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.card h2 {
    font-size: 2rem;
    color: #ff4a4a;
    text-align: center;
    z-index: 2;
}
.card::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 140%;
    background-image: linear-gradient(180deg, #ff1b1b, #ff8585);
    animation: rotate 3s linear infinite;
}
.card::after {
    content: "";
    position: absolute;
    inset: 8px;
    background-color: #030029;
    border-radius: inherit;
}
@keyframes rotate {
    100% {
        rotate: 360deg;
    }
}

.frame {
    border: solid 1px black;
    margin: 30px auto; /* Margin top và bottom là 30px, left và right là auto */
    text-align: center;
    width: 300px;
    height: 50px;
    
}

.bottom-border {
    border-bottom: solid 1px red;
    margin: 50px auto; 
    text-align: center;
    width: 300px;
    height: 25px;
}

.radius-border {
    border: solid 1px black;
    margin: 50px auto;
    text-align: center;
    width: 300px;
    height: 50px;
    border-radius: 15px;
}

.left-border {
    background: #a5f4ee;
    margin: 50px auto;
    width: 300px;
    height: 50px;
    border-left: solid 14px #1c60f4;
}
.left-border p {
    line-height: 50px; /* Cài đặt chiều cao của dòng bằng với chiều cao của khung */
    margin: 0; /* Xóa margin mặc định của đoạn văn bản */
    margin-left: 50px;
}
